form {
  width:500px;
  margin: 20px auto;
}

input {
	margin-top:10px;
	margin-left:10px;
	}


label {
  cursor:pointer;
}

h1 {
	margin:auto;
	text-align:center;
	padding-top:50px;
	}

legend {
	font-style:italic;
	}